*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    text-align: center;
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: 37.5rem;
    margin: auto;
    padding: 0 1.25rem;
  }
  
  .carousel__item {
    width: auto;
    height: auto;
    margin: auto; 
    display: block;
    scroll-snap-align: center;
  }
  
  .carousel__image {
    display: block;
  }

.carousel1 {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-width: 37.5rem;
    margin: auto;
    padding: 0 1.25rem;
  }
  
  .carousel__item1 {
    width: auto;
    height: auto;
    margin: auto; 
    display: block;
    scroll-snap-align: center;
  }
  
  .carousel__image1 {
    display: block;
    width: 700px;
    height: 800px;
  }

nav{
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-style: italic;
}
li{
  padding: 10px; 
  background-color: rgb(5, 0, 14);
  color:white; 
  display:inline;
}

a{
  text-decoration: none;
  font-size: x-large;
  color: blueviolet;
}
.enlace{
  display: flex;
  align-items:center;
  justify-content: space-around;
  padding: 20px;
}
#atencion-div{
  text-align: center; 
  background-color: rgb(0, 0, 0);
}
.pheader{
  color:white
}
@media only screen and (max-width: 600px){
  .enlace{
      flex-direction: column-reverse;
  }
  nav{
      height: 250px;
  }
  
}

body{
  text-align: center;
  background-color:rgb(248, 232, 248);
}

p{
  color: blueviolet;
}

.cont{
  font-size: 10mm;
  color:  rgb(56, 44, 163);
  
}
.historia{
    position: relative;
    text-align: center;
    color: white;
}
.center{
  font-size: 6mm;
  color:  rgb(32, 26, 92);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer{
  text-align: center;
  background-color: rgb(5, 0, 14); 
}

#marquesina {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
form {
      width: 500px;
      margin: auto;
      padding: 25px;
      border: 3px solid #ccc;
      border-radius: 50px;
      background-color: #f4f4f4;
}
label {
      display: block;
      margin-bottom: 5px;
      font-size: 60%;
}
input[type="date"],
select {
    font-size: 60%;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.sucursales{
  padding: 30px; 
  display: grid;
  justify-content: center;
  grid-template-columns: 40% 40%;

}
.sucursales div{
  padding: 30px;
}
.sucursales li{ 
  background-color: rgb(248, 232, 248);
  padding: 0px;
  text-decoration: none;
  font-size: x-large;
  color: blueviolet; 
  display:inline;
}